<!DOCTYPE html>
<html>

<head>
    <title>Dean Leave Requests</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
    <style>
        .banner {
            background-image: url("{{ url_for('static', filename='images/bg.jpg') }}");
        }
    </style>
</head>

<body>
    <div class="banner">
        <div class="navbar">
            <div class="nav">
                <img src="{{ url_for('static', filename='images/icon.png') }}" class="icon">
                <img src="{{ url_for('static', filename='images/name.png') }}" class="icon2">
            </div>
            {% if current_user.role == 'HR' %}
            <a href="{{ url_for('hr_again', user_id=user.id) }}">
                <button class="submit">BACK</button>
            </a>
            {% elif current_user.role == 'Department Head' %}
            <a href="{{ url_for('hr_again', user_id=user.id) }}">
                <button class="submit">BACK</button>
            </a>
            {% else %}
            <a href="{{ url_for('employee_again', user_id=user.id) }}">
                <button class="submit">BACK</button>
            </a>
            {% endif %}
        </div>
        <h1 class="content-dh">DEPARTMENT <h1 class="content-bots-dh">HEAD<h1 class="content-xtra-dh">LEAVE REQUESTS</h1>
            </h1>
        </h1>


        <div style="margin-left: 1px; margin-right: 17px; margin-top: 15%">
            <table class="table-list1">
                <tr class="tr">
                    <th class="th">Name</th><br>
                    <th class="th">Start Date</th><br>
                    <th class="th">End Date</th><br>
                    <th class="th">Reason</th><br>
                    <th class="th">Number of days</th>
                    <th class="th">Approved by HR</th><br>
                    <th class="th">Approved by Department Head</th><br>
                </tr>
                {% for leave_request in leave_requests %}
                <tr>
                    <td class="th1">{{ leave_request.name }}</td><br>
                    <td class="th1">{{ leave_request.start_date }}</td><br>
                    <td class="th1">{{ leave_request.end_date }}</td><br>
                    <td class="th1">{{ leave_request.reason }}</td><br>
                    <td class="th1">{{leave_request.noofdays}}</td>
                    <td class="th1">
                        {% if leave_request.approved_by_hr %}
                        Approved
                        {% else %}
                        Pending
                        {% endif %}
                    </td>
                    </td>
                    <td class="th1">
                        <form method="POST" action="/update_approval_hr/{{ leave_request.id }}">
    <input type="hidden" name="request_id" value="{{ leave_request.id }}">
    <select name="approval_status">
        <option value="approved" {% if leave_request.approved_by_hr %}selected{% endif %}>Approve</option>
        <option value="disapproved" {% if not leave_request.approved_by_hr %}selected{% endif %}>Reject</option>
    </select>
    <input type="submit" value="choose" name="update_approval">
</form>

                    </td>
                </tr>
                {% endfor %}
            </table>
            <br>
        </div>
</body>

</html>