<!DOCTYPE html>
<html>

<head>
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/new.css') }}">
    <style>
        .banner {
            background-image: url("{{ url_for('static', filename='images/bg.jpg') }}");
        }
    </style>
</head>

<body>
    <div class="banner">
        <div class="navbar">
            <div class="nav">
                <img src="{{ url_for('static', filename='images/icon.png') }}" class="icon">
                <img src="{{ url_for('static', filename='images/name.png') }}" class="icon2">
            </div>
        </div>
        <h1 class="content">Forgot Password</h1>
        <div style="margin-left: 13px; margin-right: 17px; margin-top: 10%;">
            <form method="post" class="form-pass" action="/forgot_password">
                <div class="input-fields">
                    <label class="text" for="eid">Enter Your Employee ID:</label>
                    <input class="ip1" type="text" id="eid" name="eid" required><br><br>

                    <button type="submit" class="button-otp button-china">Submit</button>

            </form>
        </div>
    </div>
</body>

</html>