<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/new.css') }}">
    <style>
        .banner {
            background-image:
            url("{{ url_for('static', filename='images/bg.jpg') }}");
        }
    </style>
</head>
<body>
 <div class="banner">
   <div class="navbar">
    <div class="nav">
        <img src="{{ url_for('static', filename='images/icon.png') }}" class="icon">
                       <img src="{{ url_for('static', filename='images/name.png') }}" class="icon2">
    </div>
   </div>
    <div style="margin-left: 13px; margin-right: 17px; margin-top: 10%;">
    <form method="post" class="form-pass2" action="/reset_password/{{ eid }}">
        <label class="text" for="new_password">Enter New Password:</label>
        <input class="ip1" type="password" id="new_password" name="new_password" required>
        <label class="text" for="confirm_password">Confirm New Password:</label>
        <input class="ip1" type="password" id="confirm_password" name="confirm_password" required><br><br>
        <div class="button-container-reset">
            <button  class= "button button-china" type="submit">Reset</button></div>
    </form></div></div>
</body>
</html>
