<!DOCTYPE html>
<html>
<head>
    <title>Search by Team Leader ID</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
    <style>
        .banner {
            background-image: url("{{ url_for('static', filename='images/bg.jpg') }}");
        }
    </style>
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <div class="nav">
                <img src="{{ url_for('static', filename='images/icon.png') }}" class="icon">
                               <img src="{{ url_for('static', filename='images/name.png') }}" class="icon2">
            </div>
            <div>  {% if current_user.role == 'HR' %}
            <a href="{{ url_for('hr_again', user_id=user.id) }}" >
    <button class="submit">BACK</button>
</a>
        {% elif current_user.role == 'Department Head' %}
        <a href="{{ url_for('dh_again', user_id=user.id) }}">
    <button class="submit">BACK</button>
</a>
        {% else %}
        <a href="{{ url_for('employee_again', user_id=user.id) }}">
    <button class="submit">BACK</button>
</a>
        {% endif %}</div>
        </div>

    <h1 class="content-2">VIVIDIANS <h1 class="content-bots-2">BY TEAM LEAD<h1 class="content-xtra-2">ID</h1></h1></h1>
    <form class="form"  method="POST" action="/search">

        <label class="text" for="team_leader_id" style="color: gold !important;">Enter Team Leader ID:</label>
        <input type="text" name="team_leader_id" id="team_leader_id" required>
        <button class= "button button-china" type="submit">Search</button>
    </form>
</body>
</html>
